{% load i18n %}
{% load thumbnail %}

{% for product in product_list %}
    <div class="col-md-4">
        <a href="{% url 'cart_product' product.id %}">
            {% if product.image %}
                <img class="img-responsive" src="{{ product.image|thumbnail_url:'medium' }}" alt="{{ product.model }}" title="{{ product.model }}" />
            {% else %}
                <img class="img-responsive" src="http://placehold.it/400x400" alt="{{ product.model }}" title="{{ product.model }}" />
            {% endif %}
        </a>
        <h3>
            <a href="{% url 'cart_product' product.id %}">{{ product.model }}</a>
        </h3>
        <p>{{ product.info|safe }}</p>
    </div>
{% empty %}
    <h4>{% blocktrans %}No products.{% endblocktrans %}</h4>
{% endfor %}