pytz
django==1.7.3
jsonpickle
pillow
django-suit
django-ipware
django-filter
django-htmlmin
django-select2
django-debreach
django-debug-toolbar
django-debug-toolbar-template-timings
django-ckeditor-updated
django_compressor
djangorestframework
easy-thumbnails
python-slugify
python-social-auth

