django==1.7.1
jsonpickle
pillow
django-suit
django-reversion
django-ckeditor-updated
django-select2
django-filter
django-guardian
djangorestframework
markdown
markdown2
easy-thumbnails
slugify
django-htmlmin

