.placeholders {
    margin-bottom: 30px;
    text-align:    center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display:       inline-block;
    border-radius: 50%;
}

/*
 * Blog main column and sidebar layout
 */

.blog-main {
    font-size:   18px;
    line-height: 1.5;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size:     40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color:         #999;
}

/*
 * Portfolio
 */

.portfolio-item {
    margin-bottom: 25px;
}

