{% extends 'user/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="sub-header">Contact us</h1>
            {% url 'website_contact' as website_contact %}
            {% include "user/_form.html" with form=contact_form action=website_contact method="post" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Also you can submit your application:</h3>
            {% url 'website_document' as website_document %}
            {% include "user/_form.html" with form=document_form action=website_document method="post" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>And, also you can subscribe:</h3>
            <form class="form-inline" role="form" action="{% url 'website_subscribe' %}" method="get">
                <input id="name" name="name" type="text" class="form-control" placeholder="Your name...">
                <input id="email" name="email" type="text" class="form-control" placeholder="Your email...">
                <button type="submit" class="btn btn-default">Subscribe</button>
            </form>
        </div>
    </div>
{% endblock %}