{% extends 'user/layout.html' %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="blog-post">
                {% if post.featured_image %}
                    <img src="{{ post.featured_image|thumbnail_url:'medium' }}" title="{{ post.title }}" />
                {% endif %}
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.modified_at }}</p>
                <p>
                    {{ post.full_content|safe }}
                </p>

                {% if post.related_slider %}
                    {% include "user/website/_slider.html" with slider=post.related_slider %}
                {% endif %}

                <h3>{% trans "Categories" %}</h3>
                {% for category in post.categories.all %}
                    <div class="col-md-3">
                        <h4>{{ category.title }}</h4>
                        <p>{{ category.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}