{% load thumbnail %}

<div id="application-bootstrap-carousel" class="carousel slide" data-ride="carousel">
    {# Indicators #}
    <ol class="carousel-indicators">
        {% for slide in slider.slide_set.all %}
            <li data-target="#slide-{{ forloop.counter0 }}" data-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.counter0 == 0 %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>

    {# Wrapper for slides #}
    <div class="carousel-inner">
        {% for slide in slider.slide_set.all %}
            <div {% if forloop.counter0 == 0 %} class="item active" {% else %} class="item" {% endif %}>
                <img src="{{ slide.image|thumbnail_url:'xxl' }}"
                     alt="{{ slide.title }}" title="{{ slide.title }}" />
                <div class="carousel-caption">
                    <h3>{{ slide.title }}</h3>
                    <p>{{ slide.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Controlls #}
    <a class="left carousel-control" href="#application-bootstrap-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#application-bootstrap-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>