{% extends 'user/layout.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}
    <h1>{% trans "Beeps" %}</h1>
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'blog_beep_new' %}" class="pull-right">{% trans "New" %}</a>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for item in object_list %}
                <div class="thumbnail pull-left" style="margin-right: 20px;">
                    <p class="text-info">
                        #{{ item.id }}&nbsp;{{ item.text }}
                    </p>
                    <span class="text-muted">{{ item.modified_at|naturaltime }}</span>
                    <div>
                        <a href="{% url "blog_beep_edit" item.id %}">{% trans "edit" %}</a>
                        <a href="{% url "blog_beep_delete" item.id %}">{% trans "delete" %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}