{% extends 'user/layout.html' %}
{% load thumbnail %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if page.featured_image %}
                <img src="{{ page.featured_image|thumbnail_url:'medium' }}" title="{{ page.title }}" />
            {% endif %}
            <h1>{{ page.title }}</h1>
            <p>
                {{ page.content|safe }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if page.related_slider %}
                {% include "user/blog/_slider.html" with slider=page.related_slider %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for widget in page.widgets.all %}
            <div class="col-md-4">
                <h2>{{ widget.title }}</h2>
                {% if widget.featured_image %}
                    <img src="{{ widget.featured_image|thumbnail_url:'small' }}" alt="{{ widget.title }}" title="{{ widget.title }}" />
                {% endif %}
                <p>{{ widget.content }}</p>
                {% if widget.link_title %}
                    <a href="{{ widget.link_url }}" class="pull-right">{{ widget.link_title }}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}