{% extends 'user/layout.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>"{{ q }}" {% blocktrans %}search result:{% endblocktrans %}</h1>
        </div>
    </div>
    <div class="col-md-12">
        <h2>{% trans "Pages" %}</h2>
        <div class="row">
            {% for page in pages %}
                <div class="col-xs-6 col-sm-3">
                    <h4><a href="{% url 'blog_page' page.slug %}">{{ page.title }}</a></h4>
                    <span class="text-muted">{{ page.modified_at }}</span>
                </div>
            {% empty %}
                <h4>{% blocktrans %}No pages found.{% endblocktrans %}</h4>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-12">
        <h2>{% trans "Posts" %}</h2>
        {% for post in posts %}
            <div class="list-group">
                <a href="{% url 'blog_post' post.id post.slug %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ post.title }}</h4>
                    <p class="list-group-item-text">{{ post.short_content }}</p>
                </a>
            </div>
        {% empty %}
            <h4>{% blocktrans %}No posts found.{% endblocktrans %}</h4>
        {% endfor %}
    </div>
{% endblock %}