{% extends 'user/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h3>Please Login...</h3>
            {% include "user/_form.html" with form=login_form action=account_login method="post" %}
        </div>
        <div class="col-md-4">
            <h3>or Register...</h3>
            {% include "user/_form.html" with form=register_form action=account_register method="post" %}
        </div>
        <div class="col-md-4">
            <h3>or use Social Accounts...</h3>
            <a href="/account/auth/facebook" class="btn btn-primary">Google</a>
            <a href="/account/auth/facebook" class="btn btn-primary">Facebook</a>
            <a href="/account/auth/facebook" class="btn btn-primary">Twitter</a>
        </div>
    </div>
{% endblock %}