{% extends 'user/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load format %}
{% load staticfiles %}

{% block title %}
    {% trans "Account" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans 'Hello' %}, {{ user }}!</h1>

            <p>{% trans 'Here you can configure your account settings.' %}</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            {% if user.profile.avatar|thumbnail_url:'small' %}
                <img src="{{ user.profile.avatar|thumbnail_url:'small' }}">
            {% else %}
                <img src="" data-src="holder.js/250x200">
            {% endif %}
        </div>
        <div class="col-md-9">
            <dl>
                <dt>{% trans "Name" %}</dt>
                <dd>{{ user.first_name|empty_text }} {{ user.last_name|empty_text }}</dd>
                <dt>{% blocktrans %}Registered at{% endblocktrans %}</dt>
                <dd>{{ user.profile.added_at|empty_text }}</dd>
                <dt>{% trans "Email" %}</dt>
                <dd>{{ user.email|empty_text }}</dd>
                <dt>{% trans "Website" %}</dt>
                <dd>{{ user.profile.website|empty_text }}</dd>
            </dl>
            <a class="btn btn-default" href="{% url 'account_modify' %}">{% trans 'Modify' %}</a>
            <a class="btn btn-default" href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a>
            <a class="btn btn-default" href="{% url 'account_restore_password' %}">{% trans 'Restore password' %}</a>
        </div>
    </div>
{% endblock %}