{% extends 'user/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load format %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans 'Hello' %}, {{ user }}!</h1>
            <p>{% trans 'Here you can configure your account settings.' %}</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <img src="{{ user.profile.avatar|thumbnail_url:'small' }}">
        </div>
        <div class="col-md-9">
            <dl>
                <dt>{% trans "Name" %}</dt>
                <dd>{{ user.first_name|empty_text }} {{ user.last_name|empty_text }}</dd>
                <dt>{% blocktrans %}Registered at{% endblocktrans %}</dt>
                <dd>{{ user.profile.added_at|empty_text }}</dd>
                <dt>{% trans "Email" %}</dt>
                <dd>{{ user.email|empty_text }}</dd>
                <dt>{% trans "Website" %}</dt>
                <dd>{{ user.profile.website|empty_text }}</dd>
                <dt>{% trans "Language" %}</dt>
                <dd>
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select name="language">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {% trans language.name_local %}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="{% trans "Save" %}" />
                    </form>
                </dd>
            </dl>
            <a class="btn btn-default" href="{% url 'account_modify' %}">{% trans 'Modify' %}</a>
        </div>
    </div>
{% endblock %}