{% load i18n %}
{% load staticfiles %}
{% load format %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ application_config.header }}
        {% endblock %}
        - {{ application_config.title }}
    </title>
    {% include 'user/layout.head.html' %}
    {% block og %}
        <meta name="author" content="{{ application_config.author }}">
        <meta name="description" content="{{ application_config.description }}">
        <meta name="keywords" content="{{ application_config.keywords }}">

        <meta property="og:author" content="{{ application_config.author }}" />
        <meta property="og:title" content="{{ application_config.title }}" />
        <meta property="og:description" content="{{ application_config.description }}" />
        <meta property="og:image" content="{% static 'common/img/social_cover.png' %}" />
        <meta property="og:url" content="{{ request.get_full_path }}" />

        <meta property="fb:app_id" content="{{ application_config.facebook_id }}" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{{ application_config.twitter_account }}" />
        <meta name="twitter:title" content="{{ application_config.title }}" />
        <meta name="twitter:description" content="{{ application_config.description }}" />
        <meta name="twitter:image" content="{% static 'common/img/social_cover.png' %}" />
        <meta name="twitter:url" content="{{ request.get_full_path }}" />

        <meta itemprop="name" content="{{ application_config.title }}" />
        <meta itemprop="description" content="{{ application_config.description }}" />
        <meta itemprop="image" content="{% static 'common/img/social_cover.png' %}" />
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>
{% include 'user/layout.social.html' %}
{% block after_body %}
{% endblock %}
{% include 'user/layout.navbar.html' %}

<div class="container">
    {% block container %}
        <div class="row">
            <div class="col-md-12">
                {% include 'user/layout.messages.html' %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
    {% include 'user/layout.footer.html' %}
    <br />
    <br />
    <br />
</div>

{% include 'user/layout.end.html' %}
{% block end %}
{% endblock %}
</body>
</html>