{% load i18n %}
{% load staticfiles %}
{% load compress %}

{# Scripts #}
{% compress js %}
    <link rel="stylesheet" src="{% static 'common/css/jquery-ui.css' %}" type="text/css" media="all" />
    <script src="{% static 'common/js/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'common/js/moment.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'common/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'libraries/blueimp/js/jquery.blueimp-gallery.min.js' %}"></script>
    <script src="{% static 'libraries/blueimp/js/bootstrap-image-gallery.min.js' %}"></script>
    <script src="{% static "common/js/holder.js" %}"></script>
    <script src="{% static "common/js/jquery.growl.js" %}"></script>
    {# In most of cases following 3 filest must be at end of the list #}
    <script src="{% static 'common/js/project.js' %}"></script>
    <script src="{% static 'common/js/project.widgets.js' %}"></script>
    <script src="{% static 'user/js/user.js' %}"></script>
    {# Temporary added here to show alert in every page #}
    <script type="text/javascript">
        $.growl({"title": "{% trans "Django Skeleton" %}", "message": "{% trans "Welcome to website." %}"});
    </script>
{% endcompress %}