{% load staticfiles %}
{% load thumbnail %}
{% load format %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    {% include 'user/layout_head.html' %}
</head>

<body>
{% block after_body %}
{% endblock %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">{{ application_config.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'index' %}">Dashboard</a></li>
                <li><a href="{% url 'website_about' %}">About</a></li>
                <li><a href="{% url 'website_contact' %}">Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'website_search' %}" method="get">
                <input id="q" name="q" type="text" class="form-control" placeholder="Search..." value="{{ q|default:"" }}">
            </form>
            {% if user.is_active %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ user.profile.avatar|thumbnail_url:'avatar' }}" height="20" alt="{{ user.username }} avatar" title="{{ user.username }} avatar" />
                            {{ user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'account_index' %}">My Account</a>
                            </li>
                            {% if user.is_staff %}
                                <li class="divider"></li>
                                <li><a href="{% url 'admin:index' %}">Administration</a></li>
                                <li><a href="{% url 'api-root' %}">API</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_register' %}">Register</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'website_index' %}">Website</a></li>
                <li><a href="{% url 'cart_index' %}">Cart</a></li>
                <li class="nav-divider"></li>
                <li><a href="http://kenanbek.me" target="_blank">Author</a></li>
                <li><a href="https://github.com/kenanbek/django-skeleton" target="_blank">Django Skeleton</a></li>
            </ul>
        </div>
        <div class="col-md-9 main">
            {% if messages %}
                <br />
                {% for message in messages %}
                    <div
                            {% if message.tags %} class="alert alert-{{ message.tags }}" {% else %} class="alert" {% endif %} role="alert">{{ message }}
                    </div>
                {% endfor %}
                <br />
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <hr>
        <p class="pull-left">Licensed under GNU GPL v3.0. Author
            <a href="http://kenanbek.me" target="_blank">Kenan Bek</a></p>
        <form class="form-inline pull-right" role="form" action="{% url 'website_subscribe' %}" method="get">
            <input id="name" name="name" type="text" class="form-control" placeholder="Your name...">
            <input id="email" name="email" type="text" class="form-control" placeholder="Your email...">
            <button type="submit" class="btn btn-default">Subscribe</button>
        </form>
    </footer>
    <br />
    <br />
    <br />
</div>

{% include 'user/layout_end.html' %}

</body>
</html>